---
import PageTitle from "@components/PageTitle.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Home">
  <main>
    <PageTitle title="Welcome to yuzuhara.net." />
    <p>
      The website's currently a work in progress.
      <b>To be honest, there won't be anything worth reading, though.</b>
    </p>
  </main>
</Layout>

<style>
main {
  color: var(--color-foreground);
  padding: 0.5rem;
}
p {
  font-size: var(--font-size-main);
}
b {
  color: var(--color-accent-light);
}
</style>
