<header>
  <h1>yuzuhara.net</h1>
  <nav><a href="/"> Home </a></nav>
</header>

<style>
header {
  display: flex;
  align-items: center;
}
h1 {
  flex: 1;
  color: var(--color-foreground);
  font-size: var(--font-size-title);
  margin: 0;
  vertical-align: center;
}
nav {
  align-items: center;
  & a {
    color: var(--color-accent-light);
    display: inline-block;
    font-size: var(--font-size-main);
    padding: 1rem;
    &:hover {
      color: var(--color-accent-dark);
    }
  }
}
@media screen and (max-width: 1024px) {
  header {
    display: block;
  }
  h1 {
    font-size: var(--font-size-title);
    text-align: center;
  }
  nav {
    display: flex;
    place-content: center;
    & a {
      font-size: var(--font-size-main);
    }
  }
}
</style>
