---
import { Font } from "astro:assets";
import Header from "../components/Header.astro";
---

<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <Font cssVariable="--font-noto-sans-jp" />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
